
.header{
  padding:23px;
  position: fixed;
  background-color: #a38888;
  width: 100%;
 z-index : 350;
}

.header_top{
  margin-top:5px;
  text-align: center;
  font-size: 20px;
  /* color: #fff; */
}


/*  */

.top{
  
}

.top_container{
  
  
}

.top img{
  position: relative;
  margin-top:75px;
  width:100%;
  height:300px;
  z-index : 30;
}

.top_text{
  z-index : 300;
  position: absolute;
  top:150px;
  left:50px;
  font-size: 40px;
  color:rgb(34, 168, 168);
}

.top_text2{

  z-index : 300;
  position: absolute;
  top:200px;
  left:50px;
  font-size: 27px;
  color:rgb(34, 168, 168);
}

span{
 font-size: 6px;
 color:rgb(34, 168, 168);
}





/*  */

.content{
  
  padding:30px;
 /* width:500px; */
 height: 200px;
  margin:0 auto;
 
}

.content-top{
  padding:10px;
  width:100%;
}

.content-text{
  padding:10px;
  font-size: 30px;
  background-color: #ddd;
}

li{
  font-size: 25px;
  line-height: 30px;
  /* background-color: red; */
}


.bottom{
  background-color: black;
  color:white;
 }



/*アコーディオン用css */

ol, ul { list-style: none;}

.list {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding:0;
  
  position:  relative;        
    z-index: 70;             
}



.list .list-item .list-tit {
  padding: 0.5rem 0.5rem 0.5rem 1rem ;
  background-color: #D8D8D8;
  margin:0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 100;
}

.list .list-item .list-content {
  line-height: 1.5;
  height: 0rem;
  overflow: hidden;
  transition: height 0.5s ease 0s, padding 0.5s ease 0s; 
  margin:0 0 10px 0;
  background-color:rosybrown;
}


.list .list-item .list-content .list-txt{
  padding: 1rem; 
  text-align:left;
  margin-left:0;
  overflow: hidden;
}


 

 

 /* ハンバーガーメニュー用css */


.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #000;
  /* background: #fff; */
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  
  margin-top:70px;
  line-height: 10.5vh;
  font-size:20px ;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;



}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff; 
  
 
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
 
 

  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
 z-index: 1;
}


nav.globalMenuSp.active {
  transform: translateX(0%);
}

/*  */

.block{
  display: flex;
  width: 100%;
  margin:0 auto;
  padding:10px;
  justify-content: space-between;
}

.red{
  background-color: red;
  width: 150px;
  height:150px;
}

.blue{
  background-color: blue;
  width: 150px;
  height:150px;
}

.yellow{
  background-color:yellow;
  width: 150px;
  height:150px;
}

.purple{
  background-color: plum;
  width: 150px;
  height:150px;
}



.black{
  color:#a38888;
  background-color:black;
  width: 150px;
  height:150px;
}
